DATABASE_URL="postgres://rtrw:rtrw_secret@localhost:5433/rtrw"
JWT_SECRET="ganti-dengan-secret-acak"
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3003"
NEXT_PUBLIC_VAPID_KEY=""
